<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MemberManagementSystem.ColorSetup" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="MemberManagementSystem.Color" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="MemberManagementSystem.BasicSetup" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="MemberManagementSystem.Login" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MemberManagementSystem.ColorSetup>
            <setting name="R" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="G" serializeAs="String">
                <value>55</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>74</value>
            </setting>
        </MemberManagementSystem.ColorSetup>
        <MemberManagementSystem.Color>
            <setting name="R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>0</value>
            </setting>
        </MemberManagementSystem.Color>
        <MemberManagementSystem.BasicSetup>
            <setting name="SmsID" serializeAs="String">
                <value />
            </setting>
            <setting name="SmsKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SmsStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Webcam" serializeAs="String">
                <value>0</value>
            </setting>
        </MemberManagementSystem.BasicSetup>
        <MemberManagementSystem.Login>
            <setting name="UserNo" serializeAs="String">
                <value />
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="Rememb" serializeAs="String">
                <value>False</value>
            </setting>
        </MemberManagementSystem.Login>
    </userSettings>
</configuration>
